#profileMainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#profileInnerCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
