#signMainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#signInnerCont {
  background-color: #285340;
  width: 90%;
  margin: 20px 0;
  border-radius: 8px;
  font-family: "Merriweather", serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding-bottom: 20px;
  max-width: 600px;
}

#signTitle {
  color: #eccc7b;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #f3f3bc;
  padding-bottom: 20px;
}

#signForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.btn {
  padding: 8px 15px;
  border-radius: 9px;
  background: #6cafe1;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  color: #232220;
  font-family: "Open Sans", serif;
  font-weight: 600;
  width: 20%;
  min-width: 100px;
  max-width: 200px;
  margin-top: 20px;
  display: inline;
}

.btn:hover {
  box-shadow: 7px 5px 56px -14px #73efb7;
}

.btn:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #73efb7;
}

label {
  color: #eccc7b;
}
