.productCardMainCont {
  width: 150px;
  height: 200px;
  background-color: #eccc7b;
  margin-left: 20px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 0.5px solid #2853407a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  box-sizing: border-box;
  color: #0c2a27;
}

.productName {
  text-align: center;
  font-size: 1.1em;
  width: 90%;
  margin: 0;
}

.productImg {
  width: 80%;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.productInfoCont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: #0c2a27;
  font-family: "Open Sans", sans-serif;
}

.productPrice {
  font-weight: 800;
  cursor: default;
}

.productInfoBtn,
.productAddCartBtn {
  cursor: pointer;
  transition: 0.2s all;
  user-select: none;
}

.productInfoBtn:hover,
.productAddCartBtn:hover {
  color: #285340;
  transform: scale(1.1);
}

.productAddCartBtn:active {
  transform: scale(1.2);
  transform: rotate(20deg);
}

@media screen and (min-width: 1024px) {
  .productCardMainCont {
    height: 300px;
    width: 250px;
  }
}
