#topNav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #285340;
  height: 100px;
  padding: 0 20px;
  margin: 0;
  z-index: 1;
}

#logo {
  height: 80%;
  cursor: pointer;
}

.navMenu,
.activatedMenu {
  color: #eccc7b;
  font-size: 2em;
  transition: 0.2s all;
  cursor: pointer;
}

#sideMenu {
  position: absolute;
  right: 0;
  top: 100px;
  background-color: #eccc7b;
  z-index: 1;
  border-bottom-left-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 200px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #232220;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.activatedMenu {
  rotate: 90deg;
}

#sideMenuUl {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0;
  padding: 10px 0;
  height: 100%;
}

ul li .navLink {
  color: #232220;
  text-decoration: none;
  transition: 0.2s all;
}

ul li .active {
  color: #285340;
  text-decoration: underline;
  font-weight: bold;
  transition: 0.2s all;
}

ul li .barNavLink,
li {
  color: #eccc7b;
  text-decoration: none;
  cursor: pointer;
}

ul li .barNavLink:hover,
li:hover {
  color: #eccc7b;
  text-decoration: underline;
  text-decoration-color: #eccc7b4f;
}

ul li .barActive {
  color: #f3f3bc;
  text-decoration: underline;
  font-weight: bold;
  transition: 0.2s all;
}

#liOdd {
  color: #232220;
}

#navBarCont {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#navBarUl {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.3em;
  transition: 0.2s all;
}

@media screen and (min-width: 630px) {
  #navBarCont {
    display: flex;
  }

  .navMenu {
    display: none;
  }
}
